<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script type="text/javascript" src="/static/js/echarts.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>

<select name="byear">
    {% for year111 in data %}
    <option value="{{ year111}}">{{ year111 }}</option>
    {% endfor %}
</select>

<h1>新闻统计列表</h1>   
<select name="clas">
    {% for list_dict in year_list %}
    <ul>   
     <li>新闻的分类: {{list_dict.items_title}}</li>   
     <li>新闻的数目: {{ist_dict.item_count}}</li>   
     <li>已发布的新闻数目:   
           {{list_dict.items_complete}} ({{list_dict.percent_complete}}%)</li>   
   </ul>   
    {% endfor %}
</select>
       

</body>
</html>