<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
  <form class="form-signin" action="/accounts/login/" method="post">{% csrf_token %} <!--csrf_token：生成令牌-->
    <h2 class="form-signin-heading" align="center">登录系统</h2>
    <label for="inputUsername" class="sr-only">username</label>
    <input type="text" name="username" id="inputUsername" class="form-control" placeholder="username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> 记住密码
      </label>
    </div>
    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    <br />
    <span style="color: red;">{{ login_err }}</span>
  </form>
</div> <!-- /container -->
</body>
</html>


{#							<table>#}
{#								<tr>#}
{#									<td>测站类型：</td>#}
{#									<td>#}
{#										<select class="xlk">#}
{#											<option value="leixing1">固定监测</option>#}
{#											<option value="leixing2">选项2</option>#}
{#											<option value="leixing3">选项3</option>#}
{#											<option value="leixing4">选项4</option>#}
{#										</select>#}
{#									</td>#}
{#									<td>查询指标：</td>#}
{#									<td>#}
{#										<select class="xlk">#}
{#											<option value="leixing1">陶岔渠首</option>#}
{#											<option value="leixing2">选项2</option>#}
{#											<option value="leixing3">选项3</option>#}
{#											<option value="leixing4">选项4</option>#}
{#										</select>#}
{#									</td>#}
{#									<td>评价类型：</td>#}
{#									<td>#}
{#										<select class="xlk">#}
{#											<option value="leixing1">测次评价</option>#}
{#											<option value="leixing2">选项2</option>#}
{#											<option value="leixing3">选项3</option>#}
{#											<option value="leixing4">选项4</option>#}
{#										</select>#}
{#									</td>#}
{#									<td>评价时段：</td>#}
{#									<td>#}
{#										<select class="xlk">#}
{#											<option value="leixing1">最近12次</option>#}
{#											<option value="leixing2">选项2</option>#}
{#											<option value="leixing3">选项3</option>#}
{#											<option value="leixing4">选项4</option>#}
{#										</select>#}
{#									</td>#}
{#									<td>查询指标：</td>#}
{#									<td>#}
{#										<select class="xlk">#}
{#											<option value="leixing1">最近12次</option>#}
{#											<option value="leixing2">选项2</option>#}
{#											<option value="leixing3">选项3</option>#}
{#											<option value="leixing4">选项4</option>#}
{#										</select>#}
{#									</td>#}
{#								</tr>#}
{#							</table>#}
{##}
{#						</div>#}
{#						<div class="gaihuatu">#}
{#                            <script src="{% static 'djoncharts/js/echarts.js' %}"></script>#}
{#							<img src="{% static 'djoncharts/images/cezhan.png' %}" alt="" />#}
{#                            <ul>#}
{#                                {% for obj in data %}#}
{#                                <li> {{ obj.name }}</li>#}
{#                                <li> {{ obj.addinfo }}</li>#}
{#                                {% endfor %}#}
{#                            </ul>#}
{##}
{#                            <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->#}
{#                                <div id="main" style="width:600px;height:400px;"></div>#}
{#                                <script type="text/javascript">#}
{##}
{#                                    // 基于准备好的dom，初始化echarts实例#}
{#                                    var myChart = echarts.init(document.getElementById('main'));#}
{##}
{#                                    // 指定图表的配置项和数据#}
{#                                    var option = {#}
{#                                            title: {#}
{#                                                text: 'Step Line'#}
{#                                            },#}
{#                                            tooltip: {#}
{#                                                trigger: 'axis'#}
{#                                            },#}
{#                                            legend: {#}
{#                                                data:['Step Start', 'Step Middle', 'Step End']#}
{#                                            },#}
{#                                            grid: {#}
{#                                                left: '3%',#}
{#                                                right: '4%',#}
{#                                                bottom: '3%',#}
{#                                                containLabel: true#}
{#                                            },#}
{#                                            toolbox: {#}
{#                                                feature: {#}
{#                                                    saveAsImage: {}#}
{#                                                }#}
{#                                            },#}
{#                                            xAxis: {#}
{#                                                type: 'category',#}
{#                                                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']#}
{#                                            },#}
{#                                            yAxis: {#}
{#                                                type: 'value'#}
{#                                            },#}
{#                                            series: [#}
{#                                                {#}
{#                                                    name:'Step Start',#}
{#                                                    type:'line',#}
{#                                                    step: 'start',#}
{#                                                    //:'wh',#}
{#                                                    data:[120, 132, 101, 134, 90, 230, 210]#}
{#                                                },#}
{#                                                {#}
{#                                                    name:'Step Middle',#}
{#                                                    type:'line',#}
{#                                                    step: 'middle',#}
{#                                                    data:[220, 282, 201, 234, 290, 430, 410]#}
{#                                                },#}
{#                                                {#}
{#                                                    name:'Step End',#}
{#                                                    type:'line',#}
{#                                                    step: 'end',#}
{#                                                    data:[450, 432, 401, 454, 590, 530, 510]#}
{#                                                }#}
{#                                            ]#}
{#                                            };#}
{##}
{#                                    // 使用刚指定的配置项和数据显示图表#}
{#                                    myChart.setOption(option);#}
{#                                </script>#}